/FBAInboundServiceMWS/Functions/.config.inc.php
/MarketplaceWebService/Functions/.config.inc.php
/MarketplaceWebServiceProducts/Functions/.config.inc.php
/MWSSubscriptionsService/Functions/.config.inc.php
/AWS/config.php
